@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* @font-face {
    font-family: "yg-jalnan";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: "yg-jalnan";
    src: url("/fonts/Jalnan2TTF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
    --line: rgba(255, 255, 255, 1);
    --transperent: rgba(129, 129, 129, 1);
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    letter-spacing: -1px;
    font-family: yg-jalnan, Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

video {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

.carousel-root {
    width: 100%;
}

.carousel.carousel-slider {
    overflow: visible !important;
}

.carousel .slider-wrapper {
    padding-bottom: 30px;
}

.carousel .slider-wrapper.axis-horizontal .slider {
    align-items: center;
    min-height: 550px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36.3vh;
    border-radius: 62px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
    left: -24px;
    transition: transform 0.5s ease, height 0.5s ease-in-out;
}

.slide.selected {
    margin-left: 24px !important;
    margin-right: 24px !important;
    height: 56vh;
    transform: scale(1.005);
    transition: transform 0.5s ease, height 0.5s ease-in-out;
}

.boxWithDiagonalShadow {
    position: relative;
    overflow: hidden; /* 추가되는 :after 요소가 박스 바깥으로 나가지 않도록 함 */
}

.boxWithDiagonalShadow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-104deg, transparent 43%, rgba(0, 0, 0, 0.125) 44%, transparent 43%);
    pointer-events: none; /* 마우스 이벤트가 이 요소에 영향을 받지 않도록 설정 */
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
}

.boxWithDiagonalShadow_2 {
    position: relative;
    overflow: hidden; /* 추가되는 :after 요소가 박스 바깥으로 나가지 않도록 함 */
}

.boxWithDiagonalShadow_2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-76deg, transparent 45%, rgba(0, 0, 0, 0.125) 46%, transparent 45%);
    pointer-events: none; /* 마우스 이벤트가 이 요소에 영향을 받지 않도록 설정 */
}

.swiper {
    width: 100%; /* 65 */
    height: 50%; /* 50 */
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: "transparent";
}

.swiper-slide:nth-child(2n) {
    background-color: "transparent";
}

.swiper-slide:nth-child(3n) {
    background-color: "transparent";
}
